
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #000000;
}
header {
background-color: #31668e;
color: #ffffff;
padding: 20px;
border-radius: 9%;
text-align: center;

}

nav ul {
list-style-type: none; 
margin: 0;
padding: 0;
}



/* #by{
    color:#13073c;
margin-left: 90% ;
} */
h1, h2 { 
margin: 0;
font-family:'Times New Roman', Times, serif;
font-weight:bolder;
}
section {
padding: 18px;
margin: 15px auto;
max-width: 700sspx;
background-color: #ffffff;
color: rgb(0, 0, 0);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills {
margin-top: 20px;
}
.interests {
margin-top: 20px;
}
footer {
background-color: #000000;
color: #fff;
padding: 5px 0;
border-radius: 15px;
text-align: center;
width: 100%;
}
.About{
color: #131313;
}
#cm{
    margin-bottom: -10px;
}